{% extends "layout.html" %}

{% block title %}Enrollment List  {% endblock %}

{% block content %}
<h1 class="text-center">Enrollments</h1>
<table class="table table-bordered table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Enrollment Date</th>
            {% comment %} <th>Actions</th> {% endcomment %}
            
        </tr>
    </thead>
    <tbody>
        {% for enrollment in enrollments %}
        <tr>
            <td>{{enrollment.student}}</td>
            <td>{{enrollment.course}}</td>
            <td>{{enrollment.enrollment_date}}</td>   
            {% comment %} <td>
                <a href="{%url 'enrollment_update' enrollment.id%}" class="btn btn-warning">Update</a>
                <a href="{%url 'enrollment_delete' enrollment.id%}" class="btn btn-danger">Delete</a>
            </td> {% endcomment %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}