{% extends "layout.html" %}

{% block title %} Home {%endblock%}

{% block content %} 
<h1 class="text-center"> Schedule Form </h1>
<form method="POST" class="jumbotron  light-shadow maxWidth mx-auto my-2 p-3">
    <div class="d-flex flex-column gap5 ">

{% csrf_token %}
{{form}}
<button class="btn btn-primary btn-block" type="submit">Save Schedule</button>
    </div>
</form>
<script>
    
    window.onload = function() {
        if (!localStorage.getItem('pageReloaded')) {
            localStorage.setItem('pageReloaded', 'true');
            location.reload(true);
        } else {
            // Clear the flag so that the next time the page is loaded, it can reload again if needed
            localStorage.removeItem('pageReloaded');
        }
    };    
    
</script>
{%endblock%}